%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  %link{href: asset_path('resume.css'), rel: 'stylesheet'}/

.container.border.rounded.p-3
  .row
    .col-md-4
      #list-example.list-group
        - @docs.each do |doc|
          = link_to "##{doc.id}", class: 'list-group-item list-group-item-action' do 
            = doc.title
    .col-md-8.pr-0
      #list-example-container.scrollspy-example
        - @docs.each do |doc| 
          = link_to doc_path(doc) do 
            %h4{id: "#{doc.id}"}= doc.title 
          %p= doc.content
