%h1 Listing docs

%table
  %thead
    %tr
      %th Title
      %th Content
      %th
      %th
      %th

  %tbody
    - @docs.each do |doc|
      %tr
        %td= doc.title
        %td= doc.content
        %td= link_to 'Show', doc
        %td= link_to 'Edit', edit_doc_path(doc)
        %td= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Doc', new_doc_path
