!!!
%html{lang: "en"}
  -# Google tag (gtag.js)
  %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VD1T7W41S');
  %body 
  .container
    #accordion
      - @docs.each_with_index do |doc, index|
        .card
          .card-header
            %a.collapsed.btn{"data-bs-toggle" => "collapse", "href" => "#collapse#{index + 1}"}
              = doc.title
          %div{id: "collapse#{index + 1}", class: "collapse", "data-bs-parent" => "#accordion"}
            .card-body
              = doc.content
              - doc_image_files = Dir.glob("app/assets/images/docs/#{doc.id}/*").select { |file| File.file?(file) }
              - if doc_image_files.any?
                .image-container
                  - doc_image_files.each do |image_file|
                    %img.rounded.float-start.img-fluid{src: asset_path(image_file), alt: doc.title}
