-# Google tag (gtag.js)
%script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-7VD1T7W41S');
%p#notice= notice

%p
  %b Title:
  = @doc.title
%p
  %b Content:
  = @doc.content

= link_to 'Edit', edit_doc_path(@doc)
\|
= link_to 'Back', docs_path
