!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Ryan Scherbarth - Portfolio
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Ryan Scherbarth - Portfolio", :name => "description"}/
    %meta{:content => "ryan, ryan scherbarth, scherbarth, ry, UNM, University of New Mexico, New Mexico, Sandia Labs, Center for Advanced Research Computing, studnet, computer science, cs, intern, internship", :name => "keywords"}/
    %meta{:content => "Ryan Scherbarth", :name => "author"}/

    / Rails Asset Pipeline Helpers for Stylesheets
    = stylesheet_link_tag 'animate'
    = stylesheet_link_tag 'icomoon'
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'style'

    / Rails Asset Pipeline Helpers for JavaScript
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'modernizr-2.6.2.min'
    = javascript_include_tag 'bootstrap'
    = javascript_include_tag 'main'
  %body
    .fh5co-loader
    #page
      %header#fh5co-header.fh5co-cover.js-fullheight{ "data-stellar-background-ratio" => "0.5", :role => "banner", :style => "background-image:url(#{ActionController::Base.helpers.asset_path('setup-background.jpg')});" }
        .overlay
        .container
          .row
            .col-md-8.col-md-offset-2.text-center
              .display-t.js-fullheight
                .display-tc.js-fullheight.animate-box{"data-animate-effect" => "fadeIn"}
                  .profile-thumb{ style: "background-image: url(#{asset_path('profile.jpg')})" }
                  %h1
                    %span Ryan Scherbarth
                  %h3
                    %span Junior, Computer Science @ UNM
                  %p
                  %ul.fh5co-social-icons
                    %li
                      %a{:href => "https://www.linkedin.com/in/ryanscherbarth/"}
                        %i.fab.fa-linkedin
                    %li
                      %a{:href => "https://github.com/rysc3"}
                        %i.fab.fa-github
                    %li
                      %a{:href => "https://stackoverflow.com/users/20306478/ry-sch"}
                        %i.fab.fa-stack-overflow
                    %li
                      %a{:href => "https://www.dropbox.com/s/9kr9aqxgj5usnsi/Ryan%20Scherbarth%20-%20Resume.pdf?dl=0", :target => "_blank"}
                        %i.fas.fa-file
      #fh5co-about.animate-box
        .container
          .row
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              %h2 About Me
          .row
            .col-md-4
              %ul.info
                %li
                  %span.first-block Full Name:
                  %span.second-block Ryan Scherbarth
                %li
                  %span.first-block Email:
                  %span.second-block
                    %a{:href => "mailto:info@ryanscherbarth.com"} info@ryanscherbarth.com
                %li
                  %span.first-block Resume:
                  %span.second-block
                    %a{:href => "https://www.dropbox.com/s/9kr9aqxgj5usnsi/Ryan%20Scherbarth%20-%20Resume.pdf?dl=0", :target => "_blank"} view pdf

                %li
                  %span.first-block Website:
                  %span.second-block www.ryanscherbarth.com
            .col-md-8
              %h2 Hello There!
              %p My name is Ryan Scherbarth, I am a Junior at the University of New Mexico studying Computer Science. I am working concurrent internships at Sandia National Laboratories & the UNM Center for Advanced Research Computing
              %p Maybe Ill put more here later
              %p
              %ul.fh5co-social-icons
                %li
                  %a{:href => "https://www.linkedin.com/in/ryanscherbarth/"}
                    %i.fab.fa-linkedin
                %li
                  %a{:href => "https://github.com/rysc3"}
                    %i.fab.fa-github
                %li
                  %a{:href => "https://stackoverflow.com/users/20306478/ry-sch"}
                    %i.fab.fa-stack-overflow
                %li
                  %a{:href => "https://www.dropbox.com/s/9kr9aqxgj5usnsi/Ryan%20Scherbarth%20-%20Resume.pdf?dl=0", :target => "_blank"}
                    %i.fas.fa-file
      #fh5co-resume.fh5co-bg-color
        .container
          .row.animate-box
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              %h2 My Resume
          .row
            .col-md-12.col-md-offset-0
              %ul.timeline
                %li.timeline-heading.text-center.animate-box
                  %div
                    %h3 Work Experience

                %li.animate-box.timeline-unverted
                  .timeline-badge
                    %i.icon-suitcase
                  .timeline-panel
                    .timeline-heading
                      %h3.timeline-title Senior Research Assistant
                      %span.company
                        %a{:href => "#"} Center for Advanced Research Computing (CARC)
                      %span.company May 2023 - Present
                    .timeline-body
                      %p Benchmarking, profiling & reporting. Workload management and resource allocation, assiting in workshops for CARC users, and holding open office hours for users.

                %li.timeline-inverted.animate-box
                  .timeline-badge
                    %i.icon-suitcase
                  .timeline-panel
                    .timeline-heading
                      %h3.timeline-title Software Engineer Intern
                      %span.company
                        %a{:href => "#"} Sandia National Laboratories
                      %span.company Oct. 2022 - Present
                    .timeline-body
                      %p As a year round R&D intern, I work on the Application Engineering team. I am currently maintaining a DOE-Q Top Secret security clearance. I work on a variety of differnt projects that consist of full-stack web application development in Ruby on Rails.

                %li.animate-box.timeline-unverted
                  .timeline-badge
                    %i.icon-suitcase
                  .timeline-panel
                    .timeline-heading
                      %h3.timeline-title Software Engineer Intern
                      %span.company
                        %a{:href => "#"} Air Force Research Laboratory
                      %span.company Aug. 2022 - Dec. 2022
                    .timeline-body
                      %p Cyber Resilience Team, Space Vehicles Directorate at KAFB


                %br/
                %li.timeline-heading.text-center.animate-box
                  %div
                    %h3 Education
                %li.timeline-inverted.animate-box
                  .timeline-badge
                    %i.icon-graduation-cap
                  .timeline-panel
                    .timeline-heading
                      %h3.timeline-title University of New Mexico
                      %span.company B.S. Computer Science w/ Minor in Mathematics
                      %span.company Aug. 2022 - (Exp. May 2025)
                    .timeline-body
                      %p - Team Manager for UNM HPC Team
                      %p - UNM Honors College
                      %p - Deans List: (Fall 2022, Spring 2023)
                      %P - Honor Society

                %li.animate-box.timeline-unverted
                  .timeline-badge
                    %i.icon-graduation-cap
                  .timeline-panel
                    .timeline-heading
                      %h3.timeline-title Texas Tech University
                      %span.company B.B.A Information Technology w/ Concentration in Cyber Security
                      %span.company Jan 2022 - Aug. 2022
                    .timeline-body
                      %p Did not spend much time here

                %li.timeline-inverted.animate-box
                  .timeline-badge
                    %i.icon-graduation-cap
                  .timeline-panel
                    .timeline-heading
                      %h3.timeline-title La Cueva High School
                      %span.company Aug. 2018 - Dec. 2021
                    .timeline-body
                      %p I was able to graduate one semester early by taking all of the second semester courses concurrently during the first semester of my senior year.


      #fh5co-work.fh5co-bg-dark
        .container
          .row.animate-box
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              %h2 Work
          .row
            .col-md-3.text-center.col-padding.animate-box
              %a.work{:href => "#", :style => "background-image: image_tag(setup-background.jpg);"}
                .desc
                  %h3 Project Name
                  %span Illustration
            .col-md-3.text-center.col-padding.animate-box
              %a.work{:href => "#", :style => "background-image: image_tag(portfolio-2.jpg);"}
                .desc
                  %h3 Project Name
                  %span Brading
            .col-md-3.text-center.col-padding.animate-box
              %a.work{:href => "#", :style => "background-image: image_tag(portfolio-3.jpg);"}
                .desc
                  %h3 Project Name
                  %span Illustration
            .col-md-3.text-center.col-padding.animate-box
              %a.work{:href => "#", :style => "background-image: image_tag(portfolio-4.jpg);"}
                .desc
                  %h3 Project Name
                  %span Design
            .col-md-3.text-center.col-padding.animate-box
              %a.work{:href => "#", :style => "background-image: image_tag(portfolio-5.jpg);"}
                .desc
                  %h3 Project Name
                  %span Website
            .col-md-3.text-center.col-padding.animate-box
              %a.work{:href => "#", :style => "background-image: image_tag(portfolio-6.jpg);"}
                .desc
                  %h3 Project Name
                  %span Illustration
            .col-md-3.text-center.col-padding.animate-box
              %a.work{:href => "#", :style => "background-image: image_tag(portfolio-7.jpg);"}
                .desc
                  %h3 Project Name
                  %span Brading
            .col-md-3.text-center.col-padding.animate-box
              %a.work{:href => "#", :style => "background-image: image_tag(portfolio-8.jpg);"}
                .desc
                  %h3 Project Name
                  %span Illustration
      #fh5co-blog
        .container
          .row.animate-box
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              %h2 Post on Medium
              %p Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
          .row
            .col-md-4
              .fh5co-blog.animate-box
                %a.blog-bg{:href => "#", :style => "background-image: image_tag(portfolio-1.jpg);"}
                .blog-text
                  %span.posted_on Mar. 15th 2016
                  %h3
                    %a{:href => "#"} Photoshoot On The Street
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %ul.stuff
                    %li
                      %i.icon-heart2>
                      249
                    %li
                      %i.icon-eye2>
                      308
                    %li
                      %a{:href => "#"}
                        Read More
                        %i.icon-arrow-right22
            .col-md-4
              .fh5co-blog.animate-box
                %a.blog-bg{:href => "#", :style => "background-image: image_tag(portfolio-2.jpg);"}
                .blog-text
                  %span.posted_on Mar. 15th 2016
                  %h3
                    %a{:href => "#"} Surfing at Philippines
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %ul.stuff
                    %li
                      %i.icon-heart2>
                      249
                    %li
                      %i.icon-eye2>
                      308
                    %li
                      %a{:href => "#"}
                        Read More
                        %i.icon-arrow-right22
            .col-md-4
              .fh5co-blog.animate-box
                %a.blog-bg{:href => "#", :style => "background-image: image_tag(portfolio-3.jpg);"}
                .blog-text
                  %span.posted_on Mar. 15th 2016
                  %h3
                    %a{:href => "#"} Capture Living On Uderwater
                  %p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  %ul.stuff
                    %li
                      %i.icon-heart2>
                      249
                    %li
                      %i.icon-eye2>
                      308
                    %li
                      %a{:href => "#"}
                        Read More
                        %i.icon-arrow-right22
      #fh5co-started.fh5co-bg-dark
        .overlay
        .container
          .row.animate-box
            .col-md-8.col-md-offset-2.text-center.fh5co-heading
              %h2 Hire Me!
              %p Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.
              %p
                %a.btn.btn-default.btn-lg{:href => "#"} Contact Us
      #fh5co-consult
        .video.fh5co-video{:style => "background-image: image_tag(cover_bg_1.jpg);"}
          .overlay
        .choose.animate-box
          %h2 Contact
          %form{:action => "#"}
            .row.form-group
              .col-md-6
                %input#fname.form-control{:placeholder => "Your firstname", :type => "text"}/
            .row.form-group
              .col-md-6
                %input#lname.form-control{:placeholder => "Your lastname", :type => "text"}/
            .row.form-group
              .col-md-12
                %input#email.form-control{:placeholder => "Your email address", :type => "text"}/
            .row.form-group
              .col-md-12
                %input#subject.form-control{:placeholder => "Your subject of this message", :type => "text"}/
            .row.form-group
              .col-md-12
                %textarea#message.form-control{:cols => "30", :name => "message", :placeholder => "Say something about us", :rows => "10"}
            .form-group
              %input.btn.btn-primary{:type => "submit", :value => "Send Message"}/
      #map.fh5co-map
    #fh5co-footer
      .container
        .row
          .col-md-12
            %p
              © 2017 Free HTML5 Template. All Rights Reserved.
              = succeed "Designed" do
                %br/
              %a{:href => "http://freehtml5.co", :target => "_blank"} FreeHTML5.co
              Demo Images:
              %a{:href => "http://unsplash.com", :target => "_blank"} Unsplash
    .gototop.js-top
      %a.js-gotop{:href => "#"}
        %i.icon-arrow-up22

        %i.icon-arrow-up22

        / jQuery
        = javascript_include_tag 'jquery.min'

        / jQuery Easing
        = javascript_include_tag 'jquery.easing.1.3'

        / Bootstrap
        = javascript_include_tag 'bootstrap.min'

        / Waypoints
        = javascript_include_tag 'jquery.waypoints.min'

        / Stellar Parallax
        = javascript_include_tag 'jquery.stellar.min'

        / Easy PieChart
        = javascript_include_tag 'jquery.easypiechart.min'

        / Main
        = javascript_include_tag 'main'
