!!!
%html
  %head
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-7VD1T7W41S"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7VD1T7W41S');

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "Ryan Scherbarth's Website", :property => "og:title"}
    %meta{:content => "My resume, courses, and other stuff.", :property => "og:description"}
    %meta{:content => "#{asset_url('Profile-02.jpeg')}", :property => "og:image"}
    %meta{:content => "Ryan Scherbarth", :name => "author"}
    %meta{:content => "#{request.original_url}", :property => "og:url"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "ryan, ryan scherbarth, scherbarth, ry, UNM, University of New Mexico, New Mexico, Sandia Labs, Center for Advanced Research Computing, student, computer science, cs, intern, internship", :name => "keywords"}

    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css', media: 'all'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css', media: 'all'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload'

  %body
    %nav.navbar.fixed-top
      .container-fluid
        %a.navbar-brand{:href => "/"}
          %div.col.d-flex.flex-column.justify-content-center
            %h1.text-center
              %a.custom-link{:href => "/"} Ryan Scherbarth
        %button.navbar-toggler.ms-auto{"aria-controls" => "offcanvasNavbar", "aria-label" => "Toggle navigation", "data-bs-target" => "#offcanvasNavbar", "data-bs-toggle" => "offcanvas", :type => "button"}
          %span.navbar-toggler-icon
        #offcanvasNavbar.offcanvas.offcanvas-end{"aria-labelledby" => "offcanvasNavbarLabel", :tabindex => "-1"}
          .offcanvas-header
            %h5#offcanvasNavbarLabel.offcanvas-title
            %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", :type => "button"}
          .offcanvas-body
            %ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
              %li.nav-item
                %a.nav-link.active{"aria-current" => "page", :href => "/"} Home
              %li.nav-item
                %a.nav-link{:href => "/resume"} Resume
              %li.nav-item
                %a.nav-link{:href => "/zoom"} Zoom
              %li.nav-item
                %a.nav-link{:href => "/meet"} Schedule a Meeting
              %li.nav-item
                %a.nav-link{:href => "/courses"} Courses
              %li.nav-item
                %a.nav-link{:href => "/sc24"} SC24
              %li.nav-item
                %a.nav-link{:href => "/sc23"} SC23
              %li.nav-item
                %a.nav-link{:href => "/web"} Website Info

    .content.flex-grow-1
      %div.pt-4
        = yield

    %hr

    %footer.footer
      .container
        .row.justify-content-center
          .col-md-12.d-flex.justify-content-center
            %ul.favicon-list.list-inline
              %li.favicon-item.list-inline-item
                %a{:href => "https://www.linkedin.com/in/ryanscherbarth/", :target => "_blank"}
                  %i.fab.fa-linkedin
              %li.favicon-item.list-inline-item
                %a{:href => "https://github.com/rysc3", :target => "_blank"}
                  %i.fab.fa-github
              %li.favicon-item.list-inline-item
                %a{:href => "https://stackoverflow.com/users/20306478/ry-sch", :target => "_blank"}
                  %i.fab.fa-stack-overflow
              %li.favicon-item.list-inline-item
                %a{:href => "mailto:online@ryanscherbarth.com"}
                  %i.fas.fa-envelope

= javascript_include_tag 'application1', 'data-turbo-track': 'reload'
= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js', defer: true
